{% extends 'base.html' %}
{% load static %} 
{% block content %}
   <div class="  shadow-5-strong w-50 m-auto mt-3 card ">
    {% if url %}
    <img src="{% get_media_prefix %}{{ url }}" alt="qrcode" />

    {% endif %}
    {% if qrForm %}

        <h2 class="text-center"> Creation de QrCode</h2>
        <form method="post" class="p-3">
            {% csrf_token %}
            {{ qrForm.as_p }}
            <button type="submit" class="btn btn-dark offset-10" >Get qrcode</button>
        </form>
    {% endif %}
   </div>
    {% endblock  %}