.title-red{
    color: blue
}

.content-green{
    color: green
}


.bg-oil{
    box-shadow: 0 0 8px 0 rgb(51 51 51 / 30%);
    background-color: #3fab16 !important;
    color: white
}


.errorlist{
    color: #842029
}

.table .th{
    text-align: center;
}


.custom_flex p {
    width: 40% !important;
}

.custom_flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}