{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login Form 
{% endblock%}

{% block content %}


<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('{% static 'images/green-olives-in-oil.jpg' %}');
          height: 300px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center


          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Authentification</h2>
          <!-- Start Form -->
          <form  class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-dark btn-block mb-4" type="submit" value="Login">
       </form>
        <!-- endForm   -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock%}


